<footer>
    <div class="f-socials-links">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-company-name">&copy;Wanderlust private limited</div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="terms">Terms</a>
    </div>
</footer>